*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
#Header{
    
    background-color: #212529;
    padding: 18px 64px;
    text-align: center;
    position: fixed;
}
#Header .span:hover{
    color: #C1C1C1;
    transition: 0.4s;
}

#Header .span{
    font-size: 15px;
    font-weight: bold;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #939597;
    text-decoration: none;
}

#Header .About{
    margin-right: 10px;
    margin-left: 1050px;
}

#Header .Services{
    margin-right: 10px;
}
#Header .Contacts{
    margin-right: 10px;
}
#Header .First{
    color: #fff;
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    text-decoration: none;
    white-space: nowrap;
}
#First {
    background-color: #1D78FD;
    padding: 98px 0;
    text-align: center;
    color: #fff;
}
#First .H1{
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 5px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
#First .P{
    font-size: 1.25rem;
    margin-bottom: 30px;
    font-family: 'Roboto', sans-serif;
}
#First .First-btn{
    text-decoration: none;
    color: #111;
    padding: 0.7rem 1rem;
    font-size: 1.3rem;
    background-color: #fff;
    border-radius: 0.3rem;
}


#About{
    background-color: #fff;
    padding: 152px 0;
    margin-left: 20rem;
}
#About .h2{
    font-size: 2rem;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 0.5rem;
    font-weight: bold;

}
#About .P{
    font-size: 1.25rem;
    font-family: 'Roboto', sans-serif;
    margin-top: 0;
    margin-bottom: 1rem;
}
#About .ul{
    margin-top: 0;
    margin-bottom: 1rem;
    margin-left: 30px;
    font-family: 'Open Sans', sans-serif;

}
#About li{
    margin-top: 10px;
}

#Services{
    background-color: #F8F9FA;
    padding: 152px 0;
}
#Services .h2{
    font-size: 2rem;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 0.5rem;
    font-weight: bold;
    margin-left: 20rem;

}
#Services .P{
    font-size: 1.25rem;
    font-family: 'Roboto', sans-serif;
    margin-top: 0;
    margin-bottom: 1rem;
    margin-left: 20rem;
}

#Contact{
    background-color: #fff;
    padding: 152px 0;
}
#Contact .h2{
    font-size: 2rem;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 0.5rem;
    font-weight: bold;
    margin-left: 20rem;

}
#Contact .P{
    font-size: 1.25rem;
    font-family: 'Roboto', sans-serif;
    margin-top: 0;
    margin-bottom: 1rem;
    margin-left: 20rem;
}

#End{
    background-color: #212529;
    padding: 3rem;
    text-align: center;
}
#End p{
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    font-weight: bold;
}
