*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Poppins', sans-serif;
}
header{
    
    background-image: url(../photos/header\ photo.jpg);
    background-size: cover;
    
    
    
}
#Header{
    background-color: #000000AB;
    padding: 21px 50px;
}
#Header .Logo a img{
    height: 65px;
    
}
#Header .Navbar{
    
    float: right;
}
#Header .Logo{
    float: left;
    margin: 10px 0;
}
#Header .Navbar li{
    float: left;
    font-size: 16px;
    font-weight: bold;
    padding: 20px 0;
}

#Header .Navbar .Nvbr,.Nvbr-img{
    margin: 15px 15px 0;
}
#Header .Navbar .Nvbr a,.Nvbr-btn a{
    color: #fff;
}
#Header .Navbar .Nvbr:hover{
    color: #FD4766;
    border-bottom: 2px solid #FD4766;
    transition: 0.2s;
}
#Header .Navbar .Nvbr-btn{
    padding: 16px 40px;
    border: 2px solid #5D5C5A;
    border-radius: 500px;
    transition: 0.3s;
    margin-top: 15px;
}
.Nvbr-btn:hover{
    background-color: #FD4766;
    transition: 0.3s;
}
#Header .Text{
    padding-top: 12rem;
    text-align: center;
}
#Header .Text h1{
    width: 50%;
    font-size: 100px;
    font-weight: 900;
    font-family: "Montserrat", sans-serif;
    margin: auto;
    background: linear-gradient(120deg, #1C99FE 20.69%, #7644FF 50.19%, #FD4766 79.69%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
#Header .Text p{
    color: rgba(255, 255, 255, 0.8);
    font-size: 24px;
    line-height: 40px;
    padding: 0 16%;
    font-weight: 300;
    font-family: 'Poppins', sans-serif;
    

}
#Header .txt-btn{
    width: 20%;
    margin: auto;
    text-align: center;
    padding: 7rem 0;
    
}
#Header .txt-btn a{
    padding: 26px 60px;
    border: 2px solid #FD4766 ;
    border-radius: 500px;
    transition: 0.3s;
    color: #fff;
    background-color: #FD4766;
    letter-spacing: 2px;
    font-weight: bold;
}
#Header .txt-btn a:hover{
    background-color: rgba(255, 255, 255, 0);
    color: #FD4766;
}

#Services{
    padding: 6rem 4rem;
}
#Services .all{
    padding-left: 3rem;
}
#Services .all .box{
    width: 30%;
    height: 18rem;
    float: left;
    margin-left: 15px;
    margin-right: 15px;
    background-color: #F6F6F6;
    border-radius: 15px;
    padding: 40px 30px;
    margin-bottom: 2rem;
}
#Services .all .box svg{
    font-size: 45px;
    font-weight: 400;
    margin-bottom: 23px;
    color: #FD4766;
}
#Services .all .box h3,p{
    color: #000000;
}
#Services .all .box h3{
    margin-bottom: 19px;
    font-weight: bold;
    font-size: 20px;
}
#Services .all .box p{
    font-size: 17px;
    line-height: 30px;
}

#About{
    background-color: #F6F6F6;
    margin-top: 5rem;
    padding: 6rem 9rem;
}
.clear{
    clear: both;
}